@tailwind base;
@tailwind components;
@tailwind utilities;

.global-icon-class-name {
  font-size: 30px;
}

.sidebar-icon-class-name {
  font-size: 20px;
  margin-right: 15px;
}
.btn-icon-watch-list {
  display: inline;
  margin: 4px;
}

.global-comment-section {
  font-size: 30px;
  margin-top: 2px;
}
